h1 {
	font-size: 30px;
	text-align: center;
	color: #fe4c78;
}

h2 {
	font-size: 24px;
	text-align: left;
	color: #4B4848;
}

body {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	color: #4B4848;
	background-image: url("https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uY3JldGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80.png");
}
