h1 {
	font-size: 30px;
	text-align: center;
	color: #fe4c78;
}

h2 {
	font-size: 24px;
	text-align: left;
	color: #4B4848;
}

body {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	color: #4B4848;
	background-image: url("https://imgur.com/k6kpDx1.png");
}
